* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    }

/*Header*/

header {
    background-color: #3c3e4a;
    height: 100px;
    position: static;
    top: 0;
    left: 0;
    }
    
    
    